ion-badge {
  margin: 2px 2px 2px 0px;
  --color: var(--ion-card-background);
}

.listplaybtn {
  --background: transparent;
  --box-shadow: transparent;
  --background-hover: transparent;
  --color-hover: var(--ion-color-dark);
  --transition: 0.5s;
  margin: 0;
}

ion-item-option {
  margin-right: -6px;
}

ion-label.user-search-list {
  margin-left: 3%;
}

ion-chip.tag-list {
  margin: 3px;
}
ion-card-subtitle.ion-inherit-color.md.hydrated.all-tag-title {
  margin: 5px;
}