.editBioCard {
  height: 100%;
}
.editBioCardContent {
  height: 80%;
}
.editBioText {
  height: 80%;
}

.textarea-wrapper {
  height: 100%;
}

.native-textarea {
  height: 100%;
}

.headerlogoimg {
  --size: 32px;
  margin-left: 12px;
}

.headerlogotxt {
  font-family: 'Playfair Display', serif;
  padding-left: 5px;
  --color: var(--ion-color-primary);
}

ion-toolbar {
  --min-height: 40px;
}

.headerbtn {
  --background: transparent;
  --box-shadow: transparent;
  --background-hover: transparent;
  margin: -10px;
  transition: filter 0.5s;
}
.headerbtn:hover {
  filter: invert() grayscale(100%) contrast(0%);
}

.backBtn {
  margin-right: -20px;
}

.headericon {
  color: var(--ion-color-primary);
}

.profilebtn {
  --background: transparent;
  --box-shadow: transparent;
  --background-hover: transparent;
  margin: -10px;
  margin-right: -11px;
}

.headerfarright {
  margin-right: -2px;
}

