h1 {
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
}

ion-avatar {
  border: 2px solid var(--ion-color-primary);
  transition: border 0.5s;
}
ion-avatar:hover {
  border: 2px solid var(--ion-color-dark)
}

.profilebtn {
  margin: -8px;
}

ion-chip {
  margin-left: -15px;
  --background: transparent;
  --background-hover: transparent;
}

ion-item {
  margin: -4px;
  --background-hover: transparent;
  --background-focused: transparent;
}

.searchbtn {
  margin: 0;
  --color: var(--ion-color-primary);
  --transition: 0.5s;
}
.searchbtn:hover {
  --color: var(--ion-color-dark);
}