ion-avatar {
  border: 2px solid var(--ion-color-primary);
  transition: border 0.5s;
}
ion-avatar:hover {
  border: 2px solid var(--ion-color-dark);
}

ion-chip {
  margin-left: -15px;
  --background: transparent;
  --background-hover: transparent;
}

ion-item {
  margin: -4px;
  --background-hover: transparent;
  --background-focused: transparent;
}

ion-content {
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}

ion-header {
  max-width: 580px;
  left: 50%;
  transform: translateX(-50%);
}